/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* CSS Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* Global Variables */

:root{
  --sideBGColor: #101a2b;
  --themeColor: #7f6cb3;
  --iconBGColor: #04384d;
  --textColor: #292929;
  --whiteTextColor: #ffffff;
  --sideTextColor: lightgray;
  --bgColor: #f3f3f3;
}

/* 
ciemny fiolet (#512e5f)
jasny fiolet (#9b59b6)
fioletowy róż (#ad6dad)
fioletowy niebieski (#674ea7)
fioletowy (#7b3c96)
ciemny niebieski (#00587a)
*/