main{
  margin-left: 270px;
  background-color: var(--bgColor);
  transition: 0.3s;
}

@media only screen and (max-width: 1050px){
  main{
    margin-left: 0;
  }
}

/* Global Heading */
.sub-heading{
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.divider{
  width: 80px;
  height: 4px;
  background-color: var(--themeColor);
  border-radius: 3px;
}

.sub-para{
  color: var(--textColor);
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-top: 15px;
}