@import '../../mixins.scss';
@import '../../variables.scss';

.rounded-button{
  @include flexCenter();
  height: 30px;
  width: 30px;
  font-size: 18px;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
  @include custom-button-animation();
  &:hover{
    background-color: $primary-color-hover;
    @include custom-button-animation(hover)
  }
}