#contact{
  padding: 70px 30px;
}

#contact .contact-row{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

#contact .contact-row .contact-left{
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  min-width: 40%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  border-radius: 4px;
  padding: 30px;
}

#contact .contact-row .contact-left .icon-box{
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 10px;
}

#contact .contact-row .contact-left .icon-box .icon i{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  color: var(--themeColor);
  transition: 0.5s;
}

#contact .contact-row .contact-left .icon-box:hover .icon i{
  background-color: var(--themeColor);
  color: var(--bgColor);
}

#contact .contact-row .contact-left .icon-box .info h4{
  font-size: 20px;
  color: var(--sideBGColor);
  font-weight: 600;
  margin-bottom: 4px;
}

#contact .contact-row .contact-left .icon-box .info p{
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
}

#contact .contact-row .contact-left .decoration{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-basis: 40%;
  min-width: 40%;
  min-height: 40%;
  margin: 15px;
}

#contact .contact-row .contact-left .decoration .decoration-box{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  transition: 0.5s;
}

#contact .contact-row .contact-left .decoration .decoration-box:hover{
  background-color: var(--themeColor);
}

#contact .contact-row .contact-right{
  flex-basis: 60%;
  min-width: 60%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  border-radius: 4px;
  padding: 30px;
}

#contact .contact-row .contact-right form input,
#contact .contact-row .contact-right form textarea{
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: var(--textColor);
  margin: 25px 0;
  padding: 10px 20px;
  border: 2px solid lightgray;
  border-radius: 2px;
  outline: none;
  resize: none;
  transition: 0.5s;
}

#contact .contact-row .contact-right form input:focus,
#contact .contact-row .contact-right form textarea:focus{
  border: 2px solid var(--themeColor);
}

#contact .contact-row .contact-right form input[type=submit]{
  background-color: var(--themeColor);
  color: var(--bgColor);
  border: 2px solid var(--themeColor);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

/* Mobile view */

@media only screen and (max-width: 1400px){
  #contact .contact-row .contact-left .decoration{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  #contact{
    padding: 50px;
  }
  #contact .contact-row{
    gap: 10px;
  }
  #contact .contact-row .contact-left{
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px){
  #contact{
    padding: 50px 10px;
  }
}