// colors
$primary-color: #2980b9;
$primary-color-hover: #3498db;
$background-color: linear-gradient(120deg, #2980b9, #3498db, #6dd5fa, #ffffff);
$background-color-header: #f0f0f0;
$font-color: #333;


// fonts
$font-stack: 'Roboto', sans-serif;